In [99]:
import pandas as pd

In [100]:
import numpy as np

In [101]:
b=pd.read_csv('Assignment1-data.csv')

In [102]:
c=pd.DataFrame(b)

In [103]:
c.head()

            Unnamed: 0  Open  High   Low  Close
0  2017-09-01 10:00:00  3079  3079  3072   3074
1  2017-09-01 10:10:00  3074  3074  3073   3074
2  2017-09-01 10:20:00  3074  3074  3072   3072
3  2017-09-01 10:30:00  3072  3073  3072   3073
4  2017-09-01 10:40:00  3073  3074  3072   3072

TR

In [104]:
a=c['High'].values.tolist()
d=c['Low'].values.tolist()
e=[]
for i in range(1,len(a)):
    e.append(a[i]-d[i])
test2=a[1:]
test3=c['Close'].values.tolist()
f=[]
for i in range(0,len(test2)):
    f.append(abs(test2[i]-test3[i]))
g=[]
test4=d[1:]
for i in range(0,len(test4)):
    g.append(abs(test4[i]-test3[i]))
tr=[]
for i in range(len(e)):
    tr.append(max(e[i],f[i],g[i]))
tr=[None] + tr
c['TR']=tr

+DM 1

In [105]:
high=a[1:]
low=d[1:]
dm1=[]
for i in range(0,len(high)):
    if (high[i]-high[i-1])>(low[i-1]-low[i]):
        dm1.append(max(high[i]-high[i-1],0))
    else:
        dm1.append(0)
dm1=[None]+dm1        
c['+DM 1']=dm1

Result

-DM 1

In [106]:
nedm1=[]
beg=0
first=a
last=d
for i in range(1,len(low)):
    if (low[i-1]-low[i])>(high[i]-high[i-1]):
        nedm1.append(max(low[i-1]-low[i],0))
    else:
        nedm1.append(0)
if (last[0]-last[1])>(first[1]-first[0]):
    beg=max(last[0]-last[1],0)
nedm1=[None,beg]+ nedm1        
c['-DM 1']=nedm1

TR14

In [107]:
tr14=[]
start=sum(tr[1:15])
tr14=[None for x in range(14)]+[start]
for i in range(15,len(tr)):
    tr14.append(tr14[i-1]-(tr14[i-1]/14)+tr[i])
c['TR14']=tr14

+DM14

In [108]:
dm14=[]
start=sum(dm1[1:15])
dm14=[None for x in range(14)]+[start]
for i in range(15,len(dm1)):
    dm14.append((dm14[i-1]-(dm14[i-1]/14)+dm1[i]))
c['+DM14']=dm14

-DM14

In [109]:
nedm14=[]
start=sum(nedm1[1:15])
nedm14=[None for x in range(14)]+[start]
for i in range(15,len(nedm1)):
    nedm14.append((nedm14[i-1]-(nedm14[i-1]/14)+nedm1[i]))
c['-DM14']=nedm14

+DI14

In [110]:
di14=[]
di14=[None for x in range(14)]
for i in range(14,len(dm14)):
    di14.append(100*dm14[i]/tr14[i])
c['+DI14']=di14

-DI14

In [111]:
nedi14=[]
nedi14=[None for x in range(14)]
for i in range(14,len(nedm14)):
    nedi14.append(100*nedm14[i]/tr14[i])
c['-DI14']=nedi14

DI 14 Diff

In [148]:
di14diff=[]
di14diff=[None for x in range(14)]
for i in range(14,len(di14)):
    di14diff.append(abs(nedi14[i]-di14[i]))
c['DI 14 Diff']=di14diff

DI 14 Sum

In [119]:
di14sum=[]
di14sum=[None for x in range(14)]
for i in range(14,len(di14)):
    di14sum.append(nedi14[i]+di14[i])
c['DI 14 Sum']=di14sum

DX

In [149]:
dx=[]
dx=[None for x in range(14)]
for i in range(14,len(di14diff)):
    dx.append(100*di14diff[i]/di14sum[i])
c['DX']=dx

ADX

In [153]:
from statistics import mean
adx=[]
adx_start=mean(dx[14:28])
adx=[None for x in range(27)]+[adx_start]
for i in range(28,len(dx)):
    adx.append((adx[i-1]*13+dx[i])/14)
c['ADX']=adx

In [156]:
c[26:32]

,Unnamed: 0,Open,High,Low,Close,TR,+DM 1,-DM 1,TR14,+DM14,-DM14,+DI14,-DI14,DI 14 Diff,DI 14 Sum,DX,ADX
26,2017-09-01 14:20:00,3061,3064,3061,3063,3.0,0.0,0.0,34.921189,4.975731,10.824850,14.248458,30.997942,16.749484,45.246399,37.018380,NaN
27,2017-09-01 14:30:00,3063,3065,3063,3065,2.0,1.0,0.0,34.426818,5.620321,10.051646,16.325416,29.197140,12.871723,45.522556,28.275484,49.817016
28,2017-09-01 14:40:00,3065,3069,3065,3067,4.0,4.0,0.0,35.967760,9.218870,9.333671,25.630926,25.950105,0.319179,51.581031,0.618791,46.302857
29,2017-09-01 14:50:00,3067,3067,3062,3063,5.0,0.0,3.0,38.398634,8.560379,11.666981,22.293447,30.383843,8.090396,52.677290,15.358413,44.092540
30,2017-09-01 15:00:00,3063,3063,3059,3061,4.0,0.0,3.0,39.655874,7.948924,13.833625,20.044757,34.884176,14.839419,54.928932,27.015670,42.872763
31,2017-09-01 15:10:00,3061,3061,3059,3060,2.0,0.0,0.0,38.823312,7.381143,12.845509,19.012142,33.087102,14.074960,52.099244,27.015670,41.740114